<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
        {% if header.description %}
        <meta name="description" content="{{ header.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ url('theme://favicon.png') }}" />

        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans:300,300i,700|Open+Sans:300,300i,600" rel="stylesheet">
            {% do assets.add('theme://css/thoughts.min.css', 100) %}
            {{ assets.css() }}
        {% endblock %}

        {% endblock head %}
    </head>

    <body id="top">

        <h2 class="navigation"><a class="no-underline" href="/"><span class="underline">{{ site.title|lower }} /</span></a></h2>

        {% block content %}{% endblock %}

        <div class="footer">
          <h6 class="back-to-top"><a href="#top">{{ 'BACK_TO_TOP'|t }}</a></h6>
          <p class="copyright"><small>&copy; {{ site.author.name }}, {{ now|date("Y") }}</small></p>
        </div>

        {{ assets.js() }}
    </body>
</html>